$color_primary: rgb(38, 185, 119)

.container-outer
	background-color: rgb(130, 18, 17)
	width: 100%
	height: 28rem
	margin-top: calc(50vh - 14rem)

.container-inner
	background-color: rgb(193, 151, 57)
	width: 32rem
	height: 100%
	margin-left: auto
	margin-right: auto

.container-block-arrows
	background-color: rgb(120, 211, 215)
	width: 100%
	height: 24rem

.arrow
	background-color: rgb(245, 73, 176)
	width: 4rem
	height: 100%
	float: left

.block
	background-color: rgb(176, 19, 240)
	width: 24rem
	height: 100%
	float: left

.block-title
	background-color: rgb(106, 250, 187)
	width: 100%
	height: 6rem

.block-middle
	background-color: rgb(8, 156, 185)
	width: 100%
	height: 9rem

.block-lower
	background-color: rgb(24, 228, 19)
	width: 100%
	height: 9rem

.block-lower-half
	background-color: rgb(161, 153, 159)
	width: 50%
	height: 9rem
	float: left

.half-title
	background-color: rgb(252, 122, 191)
	width: 100%
	height: 3rem

.half-body
	background-color: rgb(45, 80, 162)
	width: 100%
	height: 6rem

.container-bubbles
	background-color: rgb(61, 162, 11)
	width: 100%
	height: 4rem
	display: flex
	justify-content: center

.bubble
	background-color: rgb(36, 87, 200)
	width: 2rem
	height: 100%
	flo
