$color_primary: rgb(46, 195, 96)
$color_primary_highlight: saturate($color_primary, 60)
$color_primary_pressed: darken($color_primary, 15)
$color_disabled: rgb(173, 55, 48)

$color_font: rgb(250, 250, 250)

$color_trans: rgba(20, 20, 20, 0.5)
$color_min: rgba(30, 30, 30, 0.9)
$color_max: rgba(50, 50, 50, 0.9)

$color_bubble_inactive: transparentize($color_font, 0.75)
$color_bubble_active: transparentize($color_min, 0.1)

$color_view_backdrop: transparentize($color_font, 0.4)

$speed_slide: 0.5s

// -- Used by vue to not draw unprepared content
[v-cloak]
	display: none

// -- Stops user from selecting div
.unselectable
	user-select: none
	-moz-user-select: none
	-webkit-user-select: none
	-ms-user-select: none

// -- Applied to all divs which should be hidden by default
.hidden
	display: none

.shown
	display: block

// -- Used to max out parent divs
.filled
	width: 100%
	height: 100%

.spread
	width: 100%

// -- General style for html and body
html
	width: 100%
	height: 100%
	background-image: url("./images/back2low.jpg")
	background-size: cover
	background-position: center
	background-repeat: no-repeat

body
	margin: 0

// -- App specific style
#app
	font-family: 'Alegreya Sans SC', sans-serif
	font-weight: 100
	color: $color_font

// -- View controller (Flexbox parent)
.view
	width: 100%
	height: 100%
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-ms-flex-align: center
	-webkit-align-items: center
	-webkit-box-align: center
	align-items: center

.view-container
	width: 100%
	height: 100%
	position: absolute

// -- Loading View
.container-loading
	width: 100%
	margin-top: -6rem
	line-height: 2rem
	font-size: 2rem
	text-align: center

#loadingBar
	background-color: $color_font
	width: 8rem
	height: 0.3rem
	margin-top: 0.5rem
	margin-left: auto
	margin-right: auto
	animation: load 1s infinite ease-in-out

@keyframes load
	0%, 100%
		width: 8rem
	30%
		width: 1rem

// -- Main View
.container-outer
	width: 100%
	text-align: center
	position: relative

.container-inner
	width: 32rem
	height: 100%
	margin-left: auto
	margin-right: auto

.container-block-arrows
	width: 100%

.arrow
	width: 4rem
	height: 24rem
	line-height: 27rem
	font-size: 6rem
	float: left
	color: $color_min
	transition-duration: 0.4s
	cursor: pointer

	&:hover
		color: $color_bubble_active

	&:active
		color: $color_bubble_inactive

	&.left
		&::before
			content: "\2039"
	&.right
		&::before
			content: "\203A"

.block
	width: 24rem
	height: 100%
	float: left

.block-title
	background-color: $color_trans
	width: 24rem
	height: 6rem
	line-height: 6rem
	font-size: 2rem
	font-weight: 400

.block-middle
	background-color: $color_trans
	width: 24rem
	height: 9rem
	display: flex
	line-height: 9rem
	font-size: 4.5rem
	overflow: hidden

	&:hover
		& > .block-middle-main
			width: 15rem
		& > .block-middle-slide
			width: 9rem
		& .block-display-wrapper
			margin-top: -9rem

.block-middle-main
	width: 100%
	height: 100%
	line-height: 7rem
	overflow: hidden
	transition-duration: $speed_slide

.block-middle-slide
	background-color: $color_primary
	width: 0%
	height: 100%
	transition-duration: $speed_slide
	cursor: pointer

	&:hover
		background-color: $color_primary_highlight

	&:active
		background-color: $color_primary_pressed

	&.disabled
		background-color: $color_disabled

.slide-top
	width: 9rem
	height: 70%

.slide-bottom
	width: 9rem
	height: 30%
	font-size: 1.5rem
	line-height: 2rem


.block-display-wrapper
	width: 100%
	height: 18rem
	transition-duration: $speed_slide

.block-display-half
	width: 100%
	height: 9rem
	&.top
		width: 24rem

.block-lower
	width: 100%
	height: 9rem

.block-lower-half
	width: 50%
	height: 9rem
	float: left

#blockListButton
	background-color: $color_trans
	width: 100%
	height: 4rem
	line-height: 4rem
	font-size: 1.5rem
	transition-duration: $speed_slide
	cursor: pointer

	&:hover
		background-color: $color_primary

	&:active
		background-color: $color_primary_pressed

.min
	background-color: $color_min

.max
	background-color: $color_max

.half-title
	width: 100%
	height: 3rem
	line-height: 4rem
	font-size: 2rem

.half-body
	width: 100%
	height: 6rem
	line-height: 5.5rem
	font-size: 3.5rem

input[type=number]
	background-color: rgba(0, 0, 0, 0)
	width: 50%
	height: 6rem
	font-size: 4.5rem
	font-family: inherit
	font-weight: inherit
	text-align: center
	margin-top: 1rem
	color: inherit
	border: none
	border-bottom: 1px solid $color_font
	transition-duration: 0.2s
	-webkit-appearance: none
	-moz-appearance: textfield
	-ms-appearance: none

	&::-webkit-outer-spin-button
		-webkit-appearance: none

	&::-webkit-inner-spin-button
		-webkit-appearance: none

	&.invalid
		width: 60%
		border-bottom: 3px solid $color_font

	&:focus
		outline: none

	&::-webkit-inner-spin-button
		-webkit-appearance: none

// -- Bubbles
.container-bubbles
	width: 100%
	height: 4rem
	display: flex
	justify-content: center

.bubble
	width: 2rem
	height: 100%
	color: $color_bubble_inactive
	transition-duration: 0.4s

	&::before
		content: "\25CF"
		font-size: 2rem

	&.active
		color: $color_bubble_active

// -- List view
#viewList
	background-color: $color_view_backdrop

.container-list
	margin-left: auto
	margin-right: auto

table
	width: 38rem
	border-collapse: collapse
	background-color: rgba(30, 30, 30, 0.9)

tr
	font-size: 1.5rem
	height: 4.5rem
	transition-duration: $speed_slide

	&:nth-child(odd)
		background-color: transparentize($color_bubble_active, 0.5)

	&:first-child
		background-color: $color_bubble_active

	&:hover
		background-color: transparentize($color_bubble_active, 0.2)

td, th
	width: 30%

th
	font-weight: 100

td
	text-align: center
