$color_primary: rgb(46, 195, 96)
$color_primary_highlight: saturate($color_primary, 60)
$color_primary_pressed: darken($color_primary, 15)
$color_disabled: rgb(173, 55, 48)

$color_font: rgb(250, 250, 250)

$color_trans: rgba(20, 20, 20, 0.5)
$color_min: rgba(30, 30, 30, 1)
$color_max: rgba(50, 50, 50, 1)

$color_bubble_inactive: transparentize($color_font, 0.75)
$color_bubble_active: transparentize($color_font, 0.1)

$speed_slide: 0.5s

[v-cloak]
	display: none

.unselectable
	user-select: none
	-moz-user-select: none
	-webkit-user-select: none
	-ms-user-select: none


.hidden
	display: none

html
	width: 100%
	height: 100%
	background-image: url("./images/back2low.jpg")
	background-size: cover
	background-position: center
	background-repeat: no-repeat

#loading
	width: 100%
	height: 24rem
	line-height: 2rem
	margin-top: 9rem
	font-size: 2rem
	position: absolute
	text-align: center
	z-index: -5

#loading-bar
	background-color: $color_font
	width: 8rem
	height: 0.3rem
	margin-top: 0.5rem
	margin-left: auto
	margin-right: auto
	animation: load 1s infinite ease-in-out

@keyframes load
	0%, 100%
		width: 8rem
	30%
		width: 1rem



.container-outer
	width: 100%
	height: 28rem
	margin-top: calc(50vh - 14rem)
	text-align: center
	font-family: 'Alegreya Sans SC', sans-serif
	font-weight: 100
	color: $color_font
	position: relative

.container-inner
	width: 32rem
	height: 100%
	margin-left: auto
	margin-right: auto

.container-block-arrows
	width: 100%
	height: 24rem

.arrow
	width: 4rem
	height: 24rem
	line-height: 24rem
	font-size: 6rem
	float: left
	color: $color_bubble_inactive
	transition-duration: 0.4s
	cursor: pointer

	&:hover
		color: $color_bubble_active

	&:active
		color: $color_min

	&.left
		&::before
			content: "\2039"
	&.right
		&::before
			content: "\203A"

.block
	width: 24rem
	height: 100%
	float: left

.block-title
	background-color: $color_trans
	width: 24rem
	height: 6rem
	line-height: 6rem
	font-size: 2rem
	font-weight: 400

.block-middle
	background-color: $color_trans
	width: 24rem
	height: 9rem
	display: flex
	line-height: 9rem
	font-size: 4.5rem
	overflow: hidden

	&:hover
		& > .block-middle-main
			width: 15rem
		& > .block-middle-slide
			width: 9rem
		& .block-display-wrapper
			margin-top: -9rem

.block-middle-main
	width: 100%
	height: 100%
	line-height: 7rem
	overflow: hidden
	transition-duration: $speed_slide

.block-middle-slide
	background-color: $color_primary
	width: 0%
	height: 100%
	transition-duration: $speed_slide
	cursor: pointer

	&:hover
		background-color: $color_primary_highlight

	&:active
		background-color: $color_primary_pressed

	&.disabled
		background-color: $color_disabled

.slide-top
	width: 9rem
	height: 70%

.slide-bottom
	width: 9rem
	height: 30%
	font-size: 1.5rem
	line-height: 2rem


.block-display-wrapper
	width: 100%
	height: 18rem
	transition-duration: $speed_slide

.block-display-half
	width: 100%
	height: 9rem
	&.top
		width: 24rem

.block-lower
	width: 100%
	height: 9rem

.block-lower-half
	width: 50%
	height: 9rem
	float: left

.min
	background-color: $color_min

.max
	background-color: $color_max

.half-title
	width: 100%
	height: 3rem
	line-height: 4rem
	font-size: 2rem

.half-body
	width: 100%
	height: 6rem
	line-height: 5.5rem
	font-size: 3.5rem

input[type=number]
	background-color: rgba(0, 0, 0, 0)
	width: 50%
	height: 6rem
	font-size: 4.5rem
	font-family: inherit
	font-weight: inherit
	text-align: center
	margin-top: 1rem
	color: inherit
	border: none
	border-bottom: 1px solid $color_font
	transition-duration: 0.2s
	-webkit-appearance: none

	&.invalid
		width: 60%
		border-bottom: 3px solid $color_font

	&:focus
		outline: none

	&::-webkit-inner-spin-button
		-webkit-appearance: none

.container-bubbles
	width: 100%
	height: 4rem
	display: flex
	justify-content: center

.bubble
	width: 2rem
	height: 100%
	color: $color_bubble_inactive
	transition-duration: 0.4s

	&::before
		content: "\25CF"
		font-size: 2rem

	&.active
		color: $color_bubble_active
