@charset "UTF-8";
[v-cloak] {
  display: none; }

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.hidden {
  display: none; }

.shown {
  display: block; }

.filled {
  width: 100%;
  height: 100%; }

.spread {
  width: 100%; }

html {
  width: 100%;
  height: 100%;
  background-image: url("./images/back2low.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

body {
  margin: 0; }

#app {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 100;
  color: #fafafa; }

.view {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center; }

.view-container {
  width: 100%;
  height: 100%;
  position: absolute; }

.container-loading {
  width: 100%;
  margin-top: -6rem;
  line-height: 2rem;
  font-size: 2rem;
  text-align: center; }

#loadingBar {
  background-color: #fafafa;
  width: 8rem;
  height: 0.3rem;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  animation: load 1s infinite ease-in-out; }

@keyframes load {
  0%, 100% {
    width: 8rem; }
  30% {
    width: 1rem; } }
.container-outer {
  width: 100%;
  text-align: center;
  position: relative; }

.container-inner {
  width: 32rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }

.container-block-arrows {
  width: 100%; }

.arrow {
  width: 4rem;
  height: 24rem;
  line-height: 27rem;
  font-size: 6rem;
  float: left;
  color: rgba(30, 30, 30, 0.9);
  transition-duration: 0.4s;
  cursor: pointer; }
  .arrow:hover {
    color: rgba(30, 30, 30, 0.8); }
  .arrow:active {
    color: rgba(250, 250, 250, 0.25); }
  .arrow.left::before {
    content: "‹"; }
  .arrow.right::before {
    content: "›"; }

.block {
  width: 24rem;
  height: 100%;
  float: left; }

.block-title {
  background-color: rgba(20, 20, 20, 0.5);
  width: 24rem;
  height: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  font-weight: 400; }

.block-middle {
  background-color: rgba(20, 20, 20, 0.5);
  width: 24rem;
  height: 9rem;
  display: flex;
  line-height: 9rem;
  font-size: 4.5rem;
  overflow: hidden; }
  .block-middle:hover > .block-middle-main {
    width: 15rem; }
  .block-middle:hover > .block-middle-slide {
    width: 9rem; }
  .block-middle:hover .block-display-wrapper {
    margin-top: -9rem; }

.block-middle-main {
  width: 100%;
  height: 100%;
  line-height: 7rem;
  overflow: hidden;
  transition-duration: 0.5s; }

.block-middle-slide {
  background-color: #2ec360;
  width: 0%;
  height: 100%;
  transition-duration: 0.5s;
  cursor: pointer; }
  .block-middle-slide:hover {
    background-color: #00f151; }
  .block-middle-slide:active {
    background-color: #1f8542; }
  .block-middle-slide.disabled {
    background-color: #ad3730; }

.slide-top {
  width: 9rem;
  height: 70%; }

.slide-bottom {
  width: 9rem;
  height: 30%;
  font-size: 1.5rem;
  line-height: 2rem; }

.block-display-wrapper {
  width: 100%;
  height: 18rem;
  transition-duration: 0.5s; }

.block-display-half {
  width: 100%;
  height: 9rem; }
  .block-display-half.top {
    width: 24rem; }

.block-lower {
  width: 100%;
  height: 9rem; }

.block-lower-half {
  width: 50%;
  height: 9rem;
  float: left; }

#blockListButton {
  background-color: rgba(20, 20, 20, 0.5);
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.5rem;
  transition-duration: 0.5s;
  cursor: pointer; }
  #blockListButton:hover {
    background-color: #2ec360; }
  #blockListButton:active {
    background-color: #1f8542; }

.min {
  background-color: rgba(30, 30, 30, 0.9); }

.max {
  background-color: rgba(50, 50, 50, 0.9); }

.half-title {
  width: 100%;
  height: 3rem;
  line-height: 4rem;
  font-size: 2rem; }

.half-body {
  width: 100%;
  height: 6rem;
  line-height: 5.5rem;
  font-size: 3.5rem; }

input[type=number] {
  background-color: rgba(0, 0, 0, 0);
  width: 50%;
  height: 6rem;
  font-size: 4.5rem;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  margin-top: 1rem;
  color: inherit;
  border: none;
  border-bottom: 1px solid #fafafa;
  transition-duration: 0.2s;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  -ms-appearance: none; }
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; }
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none; }
  input[type=number].invalid {
    width: 60%;
    border-bottom: 3px solid #fafafa; }
  input[type=number]:focus {
    outline: none; }
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none; }

.container-bubbles {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center; }

.bubble {
  width: 2rem;
  height: 100%;
  color: rgba(250, 250, 250, 0.25);
  transition-duration: 0.4s; }
  .bubble::before {
    content: "●";
    font-size: 2rem; }
  .bubble.active {
    color: rgba(30, 30, 30, 0.8); }

.container-list {
  margin-left: auto;
  margin-right: auto; }

table {
  width: 38rem;
  margin-top: -2rem;
  border-collapse: collapse;
  background-color: rgba(20, 20, 20, 0.5); }

tr {
  font-size: 1.5rem;
  height: 4rem;
  transition-duration: 0.5s; }
  tr:nth-child(odd) {
    background-color: rgba(30, 30, 30, 0.3); }
  tr:first-child {
    background-color: rgba(30, 30, 30, 0.8); }
  tr:hover {
    background-color: rgba(30, 30, 30, 0.6); }

th {
  font-weight: 100; }

td {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
